<ul>
  <li>
    <a
      [routerLink]="'/'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li>
    <a
      [routerLink]="'/posts'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Posts</a
    >
  </li>
  <li>
    <a
      [routerLink]="'/posts/new'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >New</a
    >
  </li>
  <li>
    <a
      [routerLink]="'/about'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >About</a
    >
  </li>
  <li>
    <a
      [routerLink]="'/github'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Github</a
    >
  </li>
</ul>
